body {
	box-sizing: border-box;
}

form {
	.box {
		+ .box{
			margin-top: 1rem;
		}
	}
	button {
		display: inline-block;
		margin-top: 1rem;
		width: 50px;
		height: 30px;
		border: 0;
		border-radius: 0px;
		background-color: peachpuff;
	}
}


